# PANDAS_TA Tutorial

"Technical Analysis Indicators - Pandas TA is an easy to use Python 3 Pandas Extension with 150+ Indicators."  
We will show how to use them here, in the context of pinkfish.  
$ pip install pandas_ta  
See: https://github.com/twopirllc/pandas-ta

In [1]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
import datetime

import matplotlib.pyplot as plt
import pandas as pd
import pandas_ta as ta

import pinkfish as pf

# Format price data
pd.options.display.float_format = '{:0.3f}'.format

%matplotlib inline

In [3]:
# Set size of inline plots
'''note: rcParams can't be in same cell as import matplotlib
   or %matplotlib inline
   
   %matplotlib notebook: will lead to interactive plots embedded within
   the notebook, you can zoom and resize the figure
   
   %matplotlib inline: only draw static images in the notebook
'''
plt.rcParams["figure.figsize"] = (10, 7)

Some global data

In [4]:
symbol = 'SPY'
start = datetime.datetime(2018, 1, 1)
end = datetime.datetime.now()

Fetch symbol data from cache, if available.

In [5]:
ts = pf.fetch_timeseries(symbol)
ts.tail()

              open    high     low   close  adj_close     volume
date
2024-12-20 581.770 595.750 580.910 591.150    591.150  125716700
2024-12-23 590.890 595.300 587.660 594.690    594.690   57635800
2024-12-24 596.060 601.340 595.470 601.300    601.300   33160100
2024-12-26 599.500 602.480 598.080 601.340    601.340   41219100
2024-12-27 597.540 597.780 590.760 595.010    595.010   64847900

Select timeseries between start and end.

In [6]:
ts = pf.select_tradeperiod(ts, start, end)
ts.head()

              open    high     low   close  adj_close    volume
date
2017-01-03 225.040 225.830 223.880 225.240    197.289  91366500
2017-01-04 225.620 226.750 225.610 226.580    198.463  78744400
2017-01-05 226.270 226.580 225.480 226.400    198.305  78379000
2017-01-06 226.530 227.750 225.900 227.210    199.014  71559900
2017-01-09 226.910 227.070 226.420 226.460    198.357  46939700

### Create a technical indicator using pandas_ta

Create technical indicator: SMA (using defaults: timeperiod=10, price='close')

In [7]:
sma10 = ta.sma(ts["close"], length=10)
sma10.tail()

date
2024-12-20   599.809
2024-12-23   598.810
2024-12-24   598.660
2024-12-26   598.048
2024-12-27   597.116
Name: SMA_10, dtype: float64

### Add a technical indicator to a pinkfish timeseries

In [8]:
ts['sma10'] = sma10
ts.tail()

              open    high     low   close  adj_close     volume   sma10
date
2024-12-20 581.770 595.750 580.910 591.150    591.150  125716700 599.809
2024-12-23 590.890 595.300 587.660 594.690    594.690   57635800 598.810
2024-12-24 596.060 601.340 595.470 601.300    601.300   33160100 598.660
2024-12-26 599.500 602.480 598.080 601.340    601.340   41219100 598.048
2024-12-27 597.540 597.780 590.760 595.010    595.010   64847900 597.116