# Get Symbol Metadata

A useful utility for demonstating the use of the get_symbol_metadata function.  Use this notebook to get the start date, end date and how many years of timeseries for all the symbols in your data cache.

In [1]:
import pandas as pd
import pinkfish as pf

# format price data
pd.options.display.float_format = '{:0.2f}'.format

# increase display of dataframe rows
pd.set_option('display.max_rows', 1000)

Get metadata for the symbols below.  
Time series will be fetched for any symbols not already cached.

In [2]:
df = pf.get_symbol_metadata(symbols=['msft', 'orcl', 'tsla'])
df.sort_values('num_years', ascending=False).reset_index(drop=True)

  symbol  start_date    end_date  num_years
0   ORCL  1986-03-12  2022-12-30      36.80
1   MSFT  1986-03-13  2022-12-30      36.80
2   TSLA  2010-06-29  2022-12-30      12.50

Get metadata for all symbols in the cache directory

In [3]:
df = pf.get_symbol_metadata(dir_name='data')
df.sort_values('num_years', ascending=False).reset_index(drop=True)

     symbol  start_date    end_date  num_years
0     ^GSPC  1927-12-30  2022-12-29      95.00
1      ORCL  1986-03-12  2022-12-30      36.80
2      MSFT  1986-03-13  2022-12-30      36.80
3       SPY  1993-01-29  2022-12-29      29.91
4       NLY  1997-10-08  2022-12-29      25.22
5       XLY  1998-12-22  2022-12-29      24.02
6       XLK  1998-12-22  2022-12-29      24.02
7       XLP  1998-12-22  2022-12-29      24.02
8       XLB  1998-12-22  2022-12-29      24.02
9       XLE  1998-12-22  2022-12-29      24.02
10      XLF  1998-12-22  2022-12-29      24.02
11      XLI  1998-12-22  2022-12-29      24.02
12      XLV  1998-12-22  2022-12-29      24.02
13      XLU  1998-12-22  2022-12-29      24.02
14      QQQ  1999-03-10  2022-12-30      23.81
15      IYR  2000-06-19  2022-12-29      22.53
16      TLT  2002-07-30  2022-12-29      20.42
17      IEF  2002-07-30  2022-12-29      20.42
18      LQD  2002-07-30  2022-12-29      20.42
19      EEM  2003-04-14  2022-12-29      19.71
20      AGG  2003-09-29  2022-12-29      19.25
21      TIP  2003-12-05  2022-12-29      19.07
22      VNQ  2004-09-29  2022-12-29      18.25
23      GLD  2004-11-18  2022-12-29      18.11
24      SLY  2005-11-15  2022-12-29      17.12
25      DBC  2006-02-06  2022-12-29      16.89
26      VEU  2007-03-08  2022-12-29      15.81
27      PFF  2007-03-30  2022-12-29      15.75
28      BSV  2007-04-10  2022-12-29      15.72
29      BIL  2007-05-30  2022-12-29      15.58
30      JNK  2007-12-04  2022-12-29      15.07
31      PGX  2008-01-31  2022-12-29      14.91
32     ACWI  2008-03-28  2022-12-29      14.75
33     TSLA  2010-06-29  2022-12-30      12.50
34     BOND  2012-03-01  2022-12-29      10.83
35  BTC-USD  2014-09-17  2022-12-30       8.28